* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background: #040714;
}
.xxx {
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}
